h1 {
    margin-left: 30px;
    font-size: 40px;
}

h3 {
    margin: 15px 10px 0px 10px;
}

.txtCovercao {
    font-size: 35px;
    font-weight: bold;
    margin-top: 10%;
    color: #fff;
    text-align: center;
}

.grupoMoedas {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inputMoeda1 {
    width: 80px;
    height: 45px;
    background-color: #3b3b3b;
    color: white;
    border: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 25px;
}

.inputMoeda1:focus {
    outline: none;
}

.inputMoeda2 {
    width: 100px;
    height: 45px;
    background-color: #3b3b3b;
    color: white;
    border: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 25px;
}

.selectMoeda1 {
    width: 180px;
    height: 47px;
    background-color: #303030;
    color: white;
    border: none;
    border-radius: 0px 5px 5px 0px;
    font-size: 22px;
}

.selectMoeda1:focus {
    outline: none;
}

.selectMoeda2 {
    width: 180px;
    height: 47px;
    background-color: #303030;
    color: white;
    border: none;
    border-radius: 0px 5px 5px 0px;
    font-size: 22px;
}

.selectMoeda2:focus {
    outline: none;
}

.msgErro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    color: rgb(235, 91, 91);
    font-size: 17px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
